@import '../../../node_modules/bootstrap/scss/_variables.scss';

@include media-breakpoint-down(sm) {
  .btn {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $border-radius);
  }

  .form-control {
    padding: $input-padding-y-sm $input-padding-x-sm;
    font-size: $input-font-size-sm;
    height: auto;
  }

  .form-inline-persist {
    flex-wrap: nowrap;
  }
}

@include media-breakpoint-up(sm) {
  .btn {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $border-radius);
  }

  .form-control {
    padding: $input-padding-y-lg $input-padding-x-lg;
    height: auto;
    font-size: $input-font-size-lg;
  }

  .form-inline {
    .form-control {
      width: 100%;
    }
  }
}

.form-control {
  .form-text {
    font-size: 60%;
  }
}
