// Google fonts
$font-family-script-primary: 'Catamaran';
$font-weight-script-primary: '200;600';
$font-family-script-secondary: 'Open+Sans';
$font-weight-script-secondary: '400;600;800';

// Custom variables
$font-family-primary: "Open Sans", sans-serif;
$font-family-secondary: 'Catamaran', sans-serif;

// For overriding: https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
// Bootstrap override
%scope {
  @import "../../../node_modules/bootstrap/scss/functions";
  @import "../../../node_modules/bootstrap/scss/variables";

  $enable-responsive-font-sizes: true !global;

  $theme-colors: (
    primary: $gray-700
  ) !global;

  $enable-rounded: true !global;

  $font-family-sans-serif: $font-family-primary !global;
  $headings-font-family: $font-family-secondary !global;
  $headings-font-weight: 600 !global;

  // 1rem is default value of bootstrap $spacer
  // which is not available here
  $spacers: (
    8: (
      1rem * 8
    )
  ) !global;
}
