{
  "singleQuote": true,
  "disableLanguages": ["scss", "css"],
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
