.signpost__wrapper {
  display: flex;
  height: 100vh;
}

.signpost__item {
  overflow: hidden;
  background-position: center center;
}

.signpost__title {
  color: map-get($theme-colors, light);
}

.signpost__btn {
}

.signpost__image {
  display: flex;
}

.signpost__btn-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;

  color: map-get($theme-colors, light);
}

.signpost__btn-icon {
  color: map-get($theme-colors, light);
}

@include media-breakpoint-down(sm) {
  .signpost__wrapper {
    flex-direction: column;
  }

  .signpost__item {
    height: 25vh;

    .signpost__btn {
      display: flex;
    }
  }

  .signpost__image {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px;
  }

  .signpost__title {
    padding-left: 10px;
  }
}

@include media-breakpoint-up(sm) {
  .signpost__wrapper {
    flex-direction: row;
  }

  .signpost__item {
    width: 25vw;

    .signpost__btn {
      display: none;
      align-items: center;
      justify-content: center;
    }

    &:hover .signpost__btn {
      display: flex;
    }
  }

  .signpost__image {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}
