@import "../../../functions";

$xs: (
  x: var(--background-position-xs-x),
  y: var(--background-position-xs-y)
);

$sm: (
  x: var(--background-position-sm-x),
  y: var(--background-position-sm-y)
);

$md: (
  x: var(--background-position-md-x),
  y: var(--background-position-md-y)
);

$lg: (
  x: var(--background-position-lg-x),
  y: var(--background-position-lg-y)
);

$xl: (
  x: var(--background-position-xl-x),
  y: var(--background-position-xl-y)
);

$backgroundPositions: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
);

.image-background {
  width: 100%;
  height: 100%;
  background-size: cover;

  @include media-breakpoint-down(xs) {
    background-position-x: map-get-second($backgroundPositions, "xs", "x");
    background-position-y: map-get-second($backgroundPositions, "xs", "y");
  }

  @include media-breakpoint-up(xs) {
    background-position-x: map-get-second($backgroundPositions, "xs", "x");
    background-position-y: map-get-second($backgroundPositions, "xs", "y");
  }

  @include media-breakpoint-up(sm) {
    background-position-x: map-get-second($backgroundPositions, "sm", "x");
    background-position-y: map-get-second($backgroundPositions, "sm", "y");
  }

  @include media-breakpoint-up(md) {
    background-position-x: map-get-second($backgroundPositions, "md", "x");
    background-position-y: map-get-second($backgroundPositions, "md", "y");
  }

  @include media-breakpoint-up(lg) {
    background-position-x: map-get-second($backgroundPositions, "lg", "x");
    background-position-y: map-get-second($backgroundPositions, "lg", "y");
  }

  @include media-breakpoint-up(xl) {
    background-position-x: map-get-second($backgroundPositions, "xl", "x");
    background-position-y: map-get-second($backgroundPositions, "xl", "y");
  }
}
