// Google fonts
$font-family-script-primary: "Baloo+2";
$font-weight-script-primary: "200;600";
$font-family-script-secondary: "Baloo+2";
$font-weight-script-secondary: "400;600;800";

@import url("https://fonts.googleapis.com/css2?family=#{$font-family-script-primary}:wght@#{$font-weight-script-primary}&family=#{$font-family-script-secondary}:wght@#{$font-weight-script-secondary}&display=swap");
