// ----------------------------------------------------------------------------------
//
// For overriding: https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
// Bootstrap override

$display1-weight: 600;
$display2-weight: 600;
$display3-weight: 600;
$display4-weight: 600;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: true !global;
$enable-responsive-font-sizes: true !global;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Baloo 2", sans-serif !global;

$headings-font-family: "Baloo 2", sans-serif !global;
$headings-font-weight: 600 !global;

// Navs

$nav-link-padding-y: 0;
$nav-link-padding-x: 1rem;

// Navbar

$navbar-light-toggler-border-color: rgba(0, 0, 0, 0);
$navbar-nav-link-padding-x: 1rem;
$navbar-nav-link-padding-y: 0;

// Color system

$primary: #f36772;

// Links
//
// Style anchor elements.

$link-hover-decoration: none;
$link-border-color: $primary;

// Cards

$card-border-radius: 0;
$card-cap-bg: none;
$card-spacer-x: 1.25rem;
$card-spacer-y: $card-spacer-x;
$card-bg: none;

// Forms

$input-border-width: 0;
// Border color doesn't matter as border width is 0
$input-border-color: transparent;

// 1rem is default value of bootstrap $spacer
// which is not available here
$spacers: (
  8: (
    1rem * 8,
  ),
) !global;

%scope {
  @import "../../../node_modules/bootstrap/scss/functions";
  @import "../../../node_modules/bootstrap/scss/variables";

  $theme-colors: (
    primary: $gray-700,
  ) !global;

  $input-placeholder-color: $gray-500 !global;
}
