@import './mixins';

// To fix vertical align of text
.navbar-brand::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

// To provide bottom line with different gap
a, .btn.btn-link {
  &:hover:not(.nav-brand)::after, .nav-item.active &::after {
    @include link-hover;
  }

  &.navbar-brand:hover::after {
    content: none;
  }
}
