@import './mixins';

// To fix vertical align of text
.navbar-brand::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

a:not(.nav-brand):not(.carousel-control-next):not(.carousel-control-prev):hover::after, .link:hover::after {
  @include link-hover;
}

// To provide bottom line with different gap
.btn.btn-link {
  &:hover:not(.nav-brand)::after, .nav-item.active &::after {
    @include link-hover;
  }

  &.navbar-brand:hover::after {
    content: none;
  }
}
