.z-index-viewport {
  z-index: -1;
}

.z-index-dropdown {
  z-index: $zindex-dropdown;
}

.z-index-sticky {
  z-index: $zindex-sticky;
}

.z-index-fixed {
  z-index: $zindex-fixed;
}

.z-index-modal-backdrop {
  z-index: $zindex-modal-backdrop;
}

.z-index-modal {
  z-index: $zindex-modal;
}

.z-index-popover {
  z-index: $zindex-popover;
}

.z-index-tooltip {
  z-index: $zindex-tooltip;
}
