.cycler {
  $item: (
    height: 25px,
    color: black
  );

  $active-item: (
    height: 29px
  );

  $item-count: 3;

  @function getWrapperHeight() {
    @return (map-get($map: $item, $key: height) * ($item-count - 1)) +
      map-get($map: $active-item, $key: height);
  }

  @mixin direction {
    font-weight: 200;
  }

  .up,
  .down,
  .link {
    box-sizing: none;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
  }


  .wrapper {
    position: relative;
    height: getwrapperheight();
    overflow: hidden;
  }

  .items {
    position: absolute;
    padding: 0;
    margin: 0;
  }

  .item {
    height: map-get($map: $item, $key: height);
    font-weight: 200;
    line-height: map-get($map: $item, $key: height);
    vertical-align: middle;
    list-style: none;
  }

  .link {
    font-weight: 300;
    text-decoration: none;
    transition: font-weight .2s ease-in-out;
  }

  .link:hover {
    font-weight: 700;
    text-decoration: none;
  }

  .active {
    height: map-get($map: $active-item, $key: height);
    font-size: 20px;
    line-height: map-get($map: $active-item, $key: height);
  }

  .up::before {
    @include direction();
  }

  .down::before {
    @include direction();
  }
}
