.dots {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dots__dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;

  cursor: pointer;
  margin: 2px 0;
  padding: 0;
  background: transparent;
}
