.dots {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dots__dot {
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 2px 0;

  cursor: pointer;
  background: transparent;
  border-radius: 100%;
}
