@import "./functions";

$xs: (
  x: var(--Headline__breakpointCoordinates-xs-x),
  y: var(--Headline__breakpointCoordinates-xs-y)
);

$sm: (
  x: var(--Headline__breakpointCoordinates-sm-x),
  y: var(--Headline__breakpointCoordinates-sm-y)
);

$md: (
  x: var(--Headline__breakpointCoordinates-md-x),
  y: var(--Headline__breakpointCoordinates-md-y)
);

$lg: (
  x: var(--Headline__breakpointCoordinates-lg-x),
  y: var(--Headline__breakpointCoordinates-lg-y)
);

$xl: (
  x: var(--Headline__breakpointCoordinates-xl-x),
  y: var(--Headline__breakpointCoordinates-xl-y)
);

$breakpointCoordinates: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
);

.headline {
  &.headline--absolute {
    position: absolute;
  }

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @include media-breakpoint-up(xs) {
    top: map-get-second($breakpointCoordinates, "xs", "y");
    left: map-get-second($breakpointCoordinates, "xs", "x");
    display: block;
    width: var(--bw-xs, auto);
  }

  @include media-breakpoint-up(sm) {
    top: map-get-second($breakpointCoordinates, "sm", "y");
    left: map-get-second($breakpointCoordinates, "sm", "x");
    display: block;
    width: var(--bw-sm, auto);
  }

  @include media-breakpoint-up(md) {
    top: map-get-second($breakpointCoordinates, "md", "y");
    left: map-get-second($breakpointCoordinates, "md", "x");
    display: block;
    width: var(--bw-md, auto);
  }

  @include media-breakpoint-up(lg) {
    top: map-get-second($breakpointCoordinates, "lg", "y");
    left: map-get-second($breakpointCoordinates, "lg", "x");
    display: block;
    width: var(--bw-lg, auto);
  }

  @include media-breakpoint-up(xl) {
    top: map-get-second($breakpointCoordinates, "xl", "y");
    left: map-get-second($breakpointCoordinates, "xl", "x");
    display: block;
    width: var(--bw-xl, auto);
  }
}

.headline__content {
  position: absolute;
}

.headline--center {
  text-align: center;
}
