$transition-in: cubic-bezier(.89, .13, 0, .89);
$transition-out: cubic-bezier(.89, 0, .13, .89);

.navbar-content {
  z-index: 1;
}

.navbar-screen {
  z-index: 1;
}

.navbar-screen-enter {
  opacity: 0;
}

.navbar-screen-enter-active {
  opacity: 1;
  transition: opacity .89s $transition-in;
  transition-delay: .1s;
}

.navbar-screen-exit {
  opacity: 1;
}

.navbar-screen-exit-active {
  opacity: 0;
  transition: opacity .89s $transition-in;
}

.navbar {
  background-repeat: no-repeat;
}

.navbar-with-screen {
  &.navbar-light {
    background-image: linear-gradient(#FFF, #FFF);
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .navbar-nav .nav-link {
    transition: color .89s $transition-in;
  }

  &.navbar-dark {
    background-image: linear-gradient(transparent, transparent);
    background-color: rgba(255, 255, 255, 0) !important;
  }

  &.navbar-enter {
    background-position: 100vw 0;
  }

  &.navbar-enter-active {
    background-position: 0 0;
    transition: background-position .89s $transition-in;
    height: 100vh;
  }

  &.navbar-exit {
    background-position: 0 0;
  }

  &.navbar-exit-active {
    background-image: linear-gradient(#FFF, #FFF);
    background-position: 100vw 0;
    transition: background-position .89s $transition-out;
    height: 100vh;
  }
}

.navbar-background::after {
  content: "";
  opacity: var(--navbar-opacity);
  background-color: var(--navbar-background-color);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.navbar-shadow {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    box-shadow: 0 0 100px 30px black;
    z-index: 0;
  }
}
