.navbar-toggler {
  background: none;

  .navbar-bar {
    transition: all 0.2s;
  }

  .navbar-dark & .navbar-bar {
    background-color: $light;
  }

  .navbar-light & .navbar-bar {
    background-color: $dark;
  }

  &.expanded {
    .navbar-bar-top {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }

    .navbar-bar-middle {
      opacity: 0;
    }

    .navbar-bar-bottom {
      transform: rotate(-45deg);
      transform-origin: 10% 50%;
    }
  }

  .navbar-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: all 0.2s;
  }

  .navbar-bar-top {
    margin-bottom: 4px;
  }

  .navbar-bar-middle {
    margin-bottom: 4px;
  }

  .navbar-bar-bottom {
    margin-bottom: 0;
  }
}
