.pad {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}

.pad__items {
  position: absolute;
  transition: top 1s ease-in-out;
}

.pad__item {
  width: 100vw;
  height: 100vh;
}

.pad__dots {
  position: fixed;
  top: 50%;
  right: 1vw;
  transform: translateY(-50%);
}

.pad__next {
  position: fixed;
  bottom: 1vh;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}

.pad__prev {
  position: fixed;
  top: 1vh;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}
