.shipping {
  display: flex;
  flex-direction: column;
}

.shipping__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  height: 40px;
}

.shipping__icon {
  display: inline-block;
  text-align: center;
  width: 18px;
}

.shipping__billing {
  height: auto;
  transition: all 0.001s ease-in-out;
  flex: 1;
}

.shipping__billing.enter {
  height: 0;
}

.shipping__billing.enter-active {
  height: 100%;
}

.shipping__billing.exit {
  height: 100%;
}

.shipping__billing.exit-active {
  height: 0;
}

.shipping__billing.exit-done {
  height: 0;
}

.shipping__billing.enter-done {
  height: 100%;
}
