.shipping {
  display: flex;
  flex-direction: column;
}

.shipping__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  font-weight: 600;
}

.shipping__icon {
  display: inline-block;
  width: 18px;
  text-align: center;
}

.shipping__billing {
  flex: 1;
  height: auto;
  transition: all .001s ease-in-out;
}
