.shipping {
  display: flex;
  flex-direction: column;
}

.shipping__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  height: 40px;
}

.shipping__icon {
  display: inline-block;
  text-align: center;
  width: 18px;
}

.shipping__billing {
  height:auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.shipping__billing.enter {
  max-height: 0;
  opacity: 0;
}

.shipping__billing.enter-active {
  max-height: 100%;
  opacity: 1;
}

.shipping__billing.exit {
  max-height: 100%;
  opacity: 1;
}

.shipping__billing.exit-active {
  max-height: 0;
  opacity: 0;
}

.shipping__billing.exit-done {
  max-height: 0;
  opacity: 0;
}

.shipping__billing.enter-done {
  max-height: 100%;
  opacity: 1;
}
