.signpost__wrapper {
  display: flex;

  height: 100vh;
}

.signpost__item {
  position: relative;
  display: flex;

  overflow: hidden;

  cursor: pointer;
  background-position: center center;

  .signpost__btn {
    position: relative;
    z-index: 1;
    text-decoration: none;

    // To fix link underline
    &:hover::after {
      display: none !important;
    }
  }
}

.signpost__title {
  position: relative;
  z-index: 1;

  color: map-get($theme-colors, light);
}

.signpost__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;

  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.signpost__image--active {
  opacity: 1;
}

.signpost__btn-text {
  font-weight: 600;

  color: map-get($theme-colors, light);
  text-transform: uppercase;
}

.signpost__btn-icon {
  color: map-get($theme-colors, light);
}

.signpost__overlay {
  background-color: #000;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  &--active {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
  }
}

@include media-breakpoint-down(sm) {
  .signpost__wrapper {
    flex-direction: column;
  }

  .signpost__item {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    height: 25vh;
    padding: 16px;

    .signpost__btn {
      display: flex;
      align-items: center;
    }

    .signpost__btn-text {
      font-size: calc(14px + 1vw);
      font-weight: 200;
    }
  }

  .signpost__title {
    padding-left: 10px;
  }
}

@include media-breakpoint-up(sm) {
  .signpost__wrapper {
    flex-direction: row;
  }

  .signpost__item {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 25vw;

    .signpost__btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .signpost__btn {
      position: relative;
      z-index: 1;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }

    .signpost__btn--active {
      opacity: 1;
    }
  }

  .signpost__title {
    padding-bottom: calc(20px + 1vh);
    font-size: calc(28px + 1vw);
  }

  .signpost__btn-text {
    font-size: calc(7px + 1vw);
    font-weight: 200;
  }
}
