.signpost__wrapper {
  display: flex;

  height: 100vh;
}

.signpost__item {
  display: flex;

  overflow: hidden;
  background-position: center center;
  position: relative;
}

.signpost__title {
  position: relative;
  z-index: 1;

  color: map-get($theme-colors, light);
}

.signpost__btn {
  position: relative;
  z-index: 1;
}

.signpost__image {
  display: flex;
  z-index: 0;

  opacity: 0;
  transition: opacity 300ms ease-in-out;

  position: absolute;
  top: 0;
  left: 0;
}

.signpost__image--active {
  opacity: 1;
}

.signpost__btn-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;

  color: map-get($theme-colors, light);
}

.signpost__btn-icon {
  color: map-get($theme-colors, light);
}

.signpost__overlay {
  background-color: #000;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  &--active {
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@include media-breakpoint-down(sm) {
  .signpost__wrapper {
    flex-direction: column;
  }

  .signpost__item {
    height: 25vh;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px;

    .signpost__btn {
      display: flex;
    }
  }

  .signpost__title {
    padding-left: 10px;
  }
}

@include media-breakpoint-up(sm) {
  .signpost__wrapper {
    flex-direction: row;
  }

  .signpost__item {
    width: 25vw;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .signpost__btn {
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .signpost__btn {
      transition: opacity 300ms ease-in-out;
      opacity: 0;

      position: relative;
      z-index: 1;
    }

    .signpost__btn--active {
      opacity: 1;
    }
  }
}
