$animation-duration: 0.3s;

@mixin active {
  font-size: 0.75rem;
  transform: translateY(-0.6rem);
}

@mixin inactive {
  font-size: initial;
  transform: translateY(0);
}

@include media-breakpoint-down(md) {
  .floating-group.form-control {
    width: 100%;
  }
}

.floating-group.form-control {
  padding-bottom: 0.1rem;

  label {
    cursor: text;
  }

  > input {
    margin-top: 0.75rem;
  }

  > input + label {
    @include active();
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    padding: 0.75rem 0.75rem 0;
    margin: 0;
    font-weight: $font-weight-normal;
    transition: all $animation-duration;
  }

  > input:focus + label {
    @include active();
  }

  > input:focus::placeholder {
    color: $input-placeholder-color;
  }

  > input::placeholder {
    color: transparent;
    transition: color 0 ease $animation-duration;
  }

  > input:placeholder-shown + label {
    @include inactive();
  }

  > input:focus:placeholder-shown + label {
    @include active();
  }
}
