$animation-duration: .3s;

@mixin active {
  font-size: 0.75rem;
  transform: translateY(-.6rem);
}

@mixin inactive {
  font-size: initial;
  transform: translateY(0);
}

@include media-breakpoint-down(md) {
  .floating-group.form-control {
    width: 100%;
  }
}

.floating-group.form-control {
  padding-bottom: .1rem;

  label {
    cursor: text;
  }

  & > input {
    margin-top: .75rem;
  }

  & > input + label {
    @include active;

    display: block;
    font-weight: normal;
    left: 0;
    margin: 0;
    padding: .75rem .75rem 0;
    position: absolute;
    top: 0;
    transition: all $animation-duration;
    width: 100%;
  }

  & > input:focus + label {
    @include active;
  }

  & > input:focus::placeholder {
    color: $input-placeholder-color;
  }

  & > input::placeholder {
    transition: color 0 ease $animation-duration;
    color: transparent;
  }

  & > input:placeholder-shown + label {
    @include inactive;
  }

  & > input:focus:placeholder-shown + label {
    @include active;
  }
}
