.not-rounded-right {
  /* stylelint-disable-next-line */
  border-top-right-radius: 0;
  /* stylelint-disable-next-line */
  border-bottom-right-radius: 0;
}

.not-rounded-bottom {
  /* stylelint-disable-next-line */
  border-bottom-right-radius: 0;
  /* stylelint-disable-next-line */
  border-bottom-left-radius: 0;
}
